body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
}

#container {
    justify-content: center;
    color: aliceblue;
    font-size: 65px;
    font-family: monospace;
    text-align: center;

    background-color: rgba(255, 255, 255, 0.02);
    border: 7px solid aquamarine;
    border-radius: 10px;

    display: flex;
    margin: auto;
    margin-top: 2%;
    width: 70%;
    align-items: center;
}

#image-track > .content > .image {
    width: 40vmin;
    height: 60vmin;
    object-fit: cover;
    object-position: center;
}

#image-track > .content > .image-details {
    width: 40vmin;
    height: 0vmin;
    object-fit: cover;
    object-position: center;
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute; 
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
    transition: opacity 400ms ease;
}

.image-details {
    bottom: 0;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    opacity: 0;
    transition: opacity 350ms ease;
}

.content:hover .image-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.image-details h3 {
    color: aquamarine;
    font-weight: 500;
    font-size: clamp(3rem, 4vw, 4rem);
    font-family: monospace;
    letter-spacing: 0.15em;
    margin-bottom: 0.2em;
}

.image-details p {
    color:aliceblue;
    font-size: clamp(2rem, 4vw, 4rem);
    font-family: monospace;
}

#link-menu {
    position: fixed;
    height: 12%;
    right: 3%;
    bottom: 100px;
    display: flex;
    align-items: center;
}

#link-items {
    margin-left: clamp(3rem, 15vw, 36rem);
}

#link-items:hover > .link-item {
    opacity: 0.4;
}

#link-items:hover > .link-item:hover {
    opacity: 1;
}

.link-item {
    color: aquamarine;
    font-size: clamp(2rem, 4vw, 4rem);
    font-family: monospace;

    display: block;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    transition: opacity 400ms ease;
}